[Unit]
Description=Send mail when motion save a picture
Wants=network.target
After=syslog.target
After=network.target

[Service]
ExecStart=/usr/bin/mailmotiond
Type=simple
Group=mailmotiond
User=mailmotiond

[Install]
WantedBy=multi-user.target
